<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>List All Students</title>
</head>
<body>
    <h3>All Students Scores.</h3>

    <table border="1|0">
        <tr>
            <td>Name</td>
            <td>Roll No.</td>
            <td>DM</td>
            <td>DC</td>
            <td>COA</td>
            <td>SE</td>
            <td>PaS</td>
            <td>DS</td>
        </tr>
        {% if stus %}
        {% for stu in stus %}
        <tr>
            <td>{{ stu.fName}} {{stu.lName}}</td>
            <td>{{ stu.rollNo }}</td>
            <td>{{ stu.DMgrade }}</td>
            <td>{{ stu.DCgrade }}</td>
            <td>{{ stu.COAgrade }}</td>
            <td>{{ stu.SEgrade  }}</td>
            <td>{{ stu.PaSgrade }}</td>
            <td>{{ stu.DSgrade }}</td>
        </tr>
        {% endfor %}
        {% endif %}
    </table>
</body>
</html>